.span10
  %div.image_list
    %ul.images
      - @images.map do |img|
        %li.img
          = image_tag img, :height => 200, :width => 200
          %select{:name=>'category', :class=>'imgselect'}
            -@categories.each do |cat|
              %option{:value=>"#{cat.id}"}=cat.name
.span5
  %div{:id=>"droppable", :class=>"ui-widget-header"}
    %p Drop here

-#%div{:id=>"draggable", :class=>"ui-widget-content"}
-#  %p Drag me to my target
-#%div{:id=>"droppable", :class=>"ui-widget-header"}
-#  %p Drop here