!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1 Hello my dear friend
    %p
      In the category of cats new image:
    =image_tag "#{root_url}#{@img.url}"