/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require_jquery.gpop.css
 */
@import "bootstrap";
.en{
  color: #211922;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 12px;
  background: url("/webapp/app/desktop/images/bg.99dd9254.png?1373235165") repeat scroll 0 0 #E3E3E3;
}
body{
  overflow-y: scroll;
  position: relative;
  color: #211922;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 12px;
  margin: 0;
  background: url("/webapp/app/desktop/images/bg.99dd9254.png?1373235165") repeat scroll 0 0 #E3E3E3;
}
.mainContainer{
  color: #211922;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 12px;

}
.header{
  color: #211922;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 12px;
}
.header_message{
  overflow: hidden;
  background: linear-gradient(#FFF7CB, #FFF4B7) repeat scroll 0 0 transparent;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  color: #717171;
  font-size: 15px;
  margin: 0 7px;
  padding: 1em;
  font-family: "Helvetica Neue",arial,sans-serif;
}
.messageContent{
  float: left;
  margin: 0;
  text-shadow: 0 1px 0 #FFFFFF;
  color: #717171;
  font-size: 15px;
  font-family: "Helvetica Neue",arial,sans-serif;
}
.buttonsWrapper{
  position: absolute;
  right: 14px;
  top: 2px;
  color: #717171;
  font-size: 15px;
  font-family: "Helvetica Neue",arial,sans-serif;
}
.BoardPage{
  min-height: 100px;
  animation: 0.3s ease 0s normal forwards 1 fadeIn;
  color: #211922;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 12px;
}
.BoardHeader{
  width: 1250px;
  margin: 0 auto;
  color: #211922;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 12px;
}
.BoardHeader h1{
  color: rgba(21, 21, 21, 0.8);
  font-size: 47px;
  font-weight: bold;
  line-height: 52px;
  margin: 34px auto 0;
  max-width: 736px;
  text-align: center;
  text-shadow: 1px 2px 4px #E3E3E3, 0 0 0 #000000, 1px 2px 4px #E3E3E3, 0 1px 0 #FFFFFF;
  font-family: "Helvetica Neue",arial,sans-serif;
}
.description{
  font-size: 18px;
  line-height: 26px;
  margin: 5px auto;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.67);
  width: 736px;
  color: #6C6C6C;
  text-align: center;
  font-family: "Helvetica Neue",arial,sans-serif;
}
#footer {
  background: linear-gradient(#FFF7CB, #FFF4B7) repeat scroll 0 0 transparent;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  color: #717171;
  font-family: "Helvetica Neue",arial,sans-serif;
  font-size: 15px;
  margin: 0 7px 7px 7px;
  margin-top: 10px;
  overflow: hidden;
  padding: 1em;
  line-height: 1.25em;
  width: 97%;
}
.mainContent{
  border-top: 1px solid #CCCCCC;
  margin-top: 5px;
}