// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//#category_title{
//
//}

//---------------------------------------categories-----------------------------------
#portfolio{
  margin: 2em 0 1em;
  transform-style: preserve-3d;
  padding: 10px;
  div{
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 1em;
    width: 200px;
    height: 160px;
    box-shadow: 0px 0px 25px rgba(0,0,0,.3);
    img{
      height: 100%;
      width: 100%;
    }
    span{
      text-align: left;
      position: absolute;
      color: #fff;
      background: rgba(0,0,0,0.6);
      padding: 5px 15px 7px;
      z-index: 1;
      left: -10px;
      bottom: 10px;
      .subscribe{
        margin-left: 5px;
        float: right;
        height: 25px;
        width: 25px;
      }
    }
  }
}
//---------------------------------------categories-end----------------------------------

#categories_list{
  background: cornsilk;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius: 10px;
  margin-bottom: 10px;
  #categories_list-title{
    background: #FFF6BF;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 10px 10px 0 0;
    padding: 5px;
  }
  #sort{
    background: #c3d9ff;
  }
}

#likes_list{
  font-size: 11px;
  background: #cdf2cd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius: 10px 10px 10px 10px;
  padding: 2px;
  #likes_list-t{
    background: lightgreen;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 10px 10px 0 0;
    padding: 5px;
    margin-bottom: 10px;
  }
  .like_item{
    width: 95%;
    margin: 4px auto;
    background: lightcyan;
    border: solid 1px black;
    .user{
      display: inline-block;
    }
    .like{
      color: #8a1f11;
      display: inline-block;
    }
    .image{
      float: right;
    }
  }
}
#comments_list{
  font-size: 11px;
  background: #0086b3;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius: 10px 10px 10px 10px;
  padding: 2px;
  #comments_list-t{
    background: dodgerblue;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 10px 10px 0 0;
    padding: 5px;
    margin-bottom: 10px;
  }
  .com_item{
    width: 95%;
    margin: 4px auto;
    background: #c3d9ff;
    border: solid 1px black;
    .user{
      display: inline-block;
    }
    .comment{
      display: inline-block;
      color: #8a1f11;
      strong{
        color: black;
      }
    }
    .image{
      display: inline-block;
      float: right;
    }
  }
}

#images-list{
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  #image-item{
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 20px;
    a img{
      height: 100%;
      width: 100%;
    }
  }
}

//--------------------------------------------show-----------------------------------------------------
#categories_show{
  background: cornsilk;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius: 10px;
  margin-bottom: 10px;
  #categories_show-t{
    background: #FFF6BF;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.33);
    border-radius: 10px 10px 0 0;
    padding: 5px;
  }
}