// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img {
  margin: 1.5em auto 0.5em;
  max-width: 1300px;
  list-style: none outside none;
  overflow: hidden;
}
ul, ol {
  text-align: center;
}
.img li {
  margin: 0 0.5% 1%;
  width: 15%;
  display: block;
  float: left;
  margin-right: 10%;
  max-width: 120px;
}
.img_show img{
  margin-left: 30%;
}
