-Like.last_likes.includes(:user, :image => [:category]).each do |like|
  .like_item
    .user
      %strong
        User:
      =like.user.nickname
    .like
      +1 like
    .image
      %strong
        Likes_count:
      =like.image.likes_count
      %strong
        Category:
      =like.image.category.name
      =link_to 'To image', category_image_path(like.image.category.id, like.image.id)