-@comments.each do |com|
  .com_item
    .user
      .avatar_show
        =image_tag com.user.avatar.url
      .nickname
        =com.user.nickname
    .comment
      %p
        =truncate(com.body, :length => 50, :omission => '...')
      %hr
      %span
        =com.created_at.strftime('%d %b %H:%M:%S')
    .image
      =image_tag com.image.url