-Comment.last_comments.includes(:user, :image=> [:category]).each do |com|
  .com_item
    .user
      %strong
        User:
      =com.user.nickname
    .comment
      %strong
        Comment:
      =truncate(com.body, :length => 15, :omission => 'continued')
    .image
      %strong
        Likes:
      =com.image.comments_count
      %strong
        Category:
      =com.image.category.name
      =link_to 'To image', category_image_path(com.image.category.id, com.image.id)