.container-fluid
  .row-fluid
    .span12
      #categories_list
        #categories_list-title.text-center
          %h3
            Categories
        #sort
        #categories_content
          -cache("categories_content/#{user_signed_in? ? current_user.cache_key : ''}") do
            =render 'categories/categories_list'
      .row-fluid
        .span6
          -cache('last_likes') do
            #likes_list
              #likes_list-t
                %strong Last 5 likes
              #likes_list-content
                =render 'categories/last_likes'
        .span6
          -cache('last comments') do
            #comments_list
              #comments_list-t
                %strong Last 5 comments
              #comments_list-content
                =render 'categories/last_comments'