.container-fluid
  .row-fluid
    .span3
      =render 'categories/categories_menu'
    .span9
      #title_images
        =t('.all_image')
      #images
        #images-sorted
          -#sorted by
          -#-#=link_to 'created', root_path
          -#-#=link_to 'likes', root_path
          -#-#=link_to 'comments', root_path
        #images-list
          =render 'images/images_list'
        .btn-group.paginate
          = paginate @images, :remote => true, :window => 1



