%ul.img
  -@images.each do |img|
    %li
      = image_tag img.url, size: '128x128', alt: 'Image', :class => 'img-polaroid'
      = pluralize(img.likes.size, 'like')
      = pluralize(img.img_comments.size, 'comment')
= paginate @images

