$('#comments_main').html("#{escape_javascript render partial: 'comments/comments_show'}");
$('#comments_paginate').html("<div class='text-center'>#{escape_javascript (paginate @comments, :remote => true, :window => 1).to_s}</div>");
$('#comment_body').val("")